<div class="footer">
    <div class="upper-footer"></div>
    <div class="footer-column col-lg-6">
        Москва <br>
        ул.Макаренко, 4-19 <br>
        (8-029) 748-12-70 <br>
        <div class="footer-email-link">@HTMLHelpers.EmailTextBox("moscowAuction@example.com", "moscowAuction@example.com", "Вопрос аукциону в Москве")</div>
        <hr class="footer">
    </div>

    <div class="footer-column col-lg-6">
        Минск <br>
        пр. Независимости, 183-12 <br>
        (8-029) 748-12-70 <br>
        <div class="footer-email-link">@HTMLHelpers.EmailTextBox("minskAuction@example.com", "minskAuction@example.com", "Вопрос аукциону в Минске")</div>
        <hr class="footer">
    </div>
</div>
