@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_BaseLayout</title>
</head>
<body>
<div>
    @Html.Action("NavbarAuction", "Account")
</div>
<div>
    @RenderBody()
</div>
<div>
    @Html.Action("Footer", "Account")
</div>
</body>
</html>
